//variables 

$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo:#ccc;
$color-letra:red;
$color-secundario: rgb(132, 22, 22);

// uso de variables
body{
    background-color: $color-fondo;
}

h1{
    font-family: $fuente-tipica;
    color: $color-letra;
}

p{
    color: $color-secundario;
}   

//uso de anidación
.caja{
    border: 1px solid black ;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    padding: 10px;

    h1{
        color: blue;
    }
    p{
        color: green;
    }

    .info{
        font-size: 10px;
        .autor{
            font-size: 15px;
            color: orange;
        }
    }
}

@mixin crearBordes() {
    border: 5px solid red;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}
//mixins / funciones 